.articles-cntr {
  display: flex;
  flex-direction: column;
  gap: 8em;
}

.flex-rows-cntr {
  margin: 2em 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 8em;
}


@media (min-width: 600px) {
  .flex-rows-cntr {
    gap: 12em;
  }
}


@media (min-width: 992px) {
  .flex-rows-cntr {
    gap: 14em;
  }
}
