
/* ---------- HEADER SECTION ---------- */
.header-cntr {
    height: 100vh;
    width: 100%;
    margin: 0 0 1.625rem 0 ;
    display: flex;
    flex-direction: column;

    .header-txt {
        height: auto;
        width: 80%;
        margin: auto 0;
        margin-left: 10px;

        h1 {
            margin: .625rem 0;
            font-size: $fs_header;
            // animation: fadein 0.2s; 
        }

        span {
            font-family: $ff_mono;
            // animation: fadein 0.2s;
        }
    }    
}

@media (min-width: 600px) {
    .header-cntr {
        .header-txt {
            height: auto;
            width: 60%;    
            margin-left: 0;
        }
    }
}

@media (min-width: 992px) {
    .header-cntr {
        .header-txt {
            height: auto;
            width: 50%;
            margin-left: 0px;
        }
    }
}

.header-cntr {
    opacity: $opacity_init;
    transform: $tl_X_init;
    transition: $ease_in_25;
    .elem {
        opacity: $opacity_init;
        transform: $tl_X_init;
        transition: $ease_in_25;
    }
}

.header-cntr.show {
    opacity: $opacity_show;
    transform: $tl_X_show;

    .elem {
        opacity: $opacity_show;
        transform: $tl_X_show;
    }
}

@keyframes fadein {
	0% {
        opacity: 0; 
        transform: translateY(0); 
    }
	100% { 
        opacity: 1;
        transform: translateY(0%);
    }
}

