
/* ---------- WORK SECTION ---------- */
.work-cntr {
    display: flex;
    flex-direction: column;

    &__title {
        margin: 0 0 2.5em 0;
    }

    .projects-cntr {
        display: flex;
        flex-direction: column;
        row-gap: 8em;
    }

}

@media (min-width: 600px) {
    .work-cntr {
        .projects-cntr {
            display: flex;
            flex-direction: column;
            row-gap: 12em;
        }
    }
}



@media (min-width: 992px) {
    .work-cntr {

        .projects-cntr {
            display: flex;
            flex-direction: column;
            row-gap: 14em;
        }
        
    }
}
