
/* ---------- WORK SECTION ---------- */
.work-cntr {
    display: flex;
    flex-direction: column;
    row-gap: 150px;

    &__title {
        margin-left: 10px;
        padding: 0 0 .5em 0;
    }

}

@media (min-width: 600px) {
    .work-cntr {
        margin-left: 0px;
    }
}



@media (min-width: 992px) {
    .work-cntr {
        margin-left: 0px;

        
    }
}
