
/* ---------- NAV ---------- */
#navBar {
    transition: top .25s;
}

#nav {
    border: solid blue 0px;
    height: 2em;
    width: 100%;
    margin: 0 auto;
    padding: .5em 0;
    top: 0;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.9);
    background: linear-gradient( rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, .4)100%);
    z-index: 100;

    .nav-inner-cntr {
        width: 98%;
        margin: 0 auto;
        padding: 0px 0px 0px 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
        &__logo {
            margin: auto 0;
            border: solid red 0px;

            a {
                font-family: $ff_sans;
                font-size: $fs_s;
                text-decoration: none;
                text-transform: uppercase;
                color: $txt_light;
                transition: ease-in .02s;

                &:hover {
                    color: $clr_acc_yel;
                }
            }
        }

        &__links{
            display: none;
            // width: 180px;
            // margin: auto 0;
            // display: flex;
            // flex-direction: row;
            // justify-content: space-between;

            // a {
            //     font-family: $ff_sans;
            //     font-size: $fs_xs;
            //     text-decoration: none;
            //     text-transform: uppercase;
            //     color: $txt_light;
            //     transition: ease-in .02s;

            //     &:hover {
            //         color: $clr_acc_yel;
            //     }
            // }
        }
        .nav-mob-links {
            width: 65px;
            margin-top: 0;
            margin-bottom: 0;
            padding: 0 0 2px 2px;
            border: none;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            vertical-align: middle;

            
            &__menu-btn {
                height: 20px;
                width: 20px;
                margin: auto 0;
                border: solid red 0px;
                text-transform: uppercase;
                background-color: transparent;
                cursor: pointer;
                position: relative;
                
                svg {
                    height: 100%;
                    width: 20px;
                    stroke-width: 1px;
                    stroke-linecap: round;
                    stroke: $txt_light;
                    position: absolute;
                    left: 0;
                    top: 0;

                    :first-child {
                        position: absolute;
                        left: 0;
                        transform: rotate(0deg);
                        transition: .25s;           
                    }
                  
                    :nth-child(2) {
                        position: absolute;
                        left: 0;
                        opacity: 1;
                        transform: translateX(0px);
                        transition: .25s;
                    }
                    
                    :nth-child(3) {
                        position: absolute;
                        transform: rotate(0deg);
                        transition: .25s;
                    }
                }
            }

            // &__menu-btn.change {                
            //     svg {
            //         stroke: $clr_acc_yel;
            
            //         :first-child {
            //             transform: rotate(35deg);
            //             transition: .25s;
            //         }
                  
            //         :nth-child(2) {
            //             opacity: 0;
            //             transform: translateX(20px);
            //             transition: .25s;
            //         }
                    
            //         :nth-child(3) { 
            //             transform: rotate(-35deg);
            //             transition: .25s;
            //         }
            //     }
            // }

            &__dropdown {
                border: none;
                width: inherit;
                padding: 0px 0px 0px 2px;
                top: 40px;
                background-color: rgba(0, 0, 0, 0.9);
                position: absolute;
                display: flex;
                flex-direction: column;
                column-gap: 10px;

                a {
                    padding-bottom: 10px;
                    font-family: $ff_sans;
                    font-size: $fs_xs;
                    text-decoration: none;
                    text-transform: uppercase;
                    color: $txt_light;
                    transition: ease-in .02s;
    
                    &:hover {
                        color: $clr_acc_yel;
                    }
                }                
            }    
            
            &__dropdown.show {
                display: block;
            }

            &__dropdown.hidden {
                display: none;
            }
        }
    }
}



@media (min-width: 600px) {
    #nav {
        width: 100%;

        .nav-inner-cntr {
            width: 90%;
            padding: 0px;
            
        &__logo {
            margin: auto 0;

            a {
                font-family: $ff_sans;
                font-size: $fs_s;
                text-decoration: none;
                text-transform: uppercase;
                color: $txt_light;
                transition: ease-in .02s;

                &:hover {
                    color: $clr_acc_yel;
                }
            }
        }

            &__links {
                display: none;
                width: 15rem;
                margin: auto 0;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                a {
                    font-family: $ff_sans;
                    font-size: $fs_s;
                    text-decoration: none;
                    text-transform: uppercase;
                    color: $txt_light;
                    transition: ease-in .02s;

                    &:hover {
                        color: $clr_acc_yel;
                    }
                }
            }
            .nav-mob-links {
                display: none;
                // width: 15rem;
                // margin: auto 0;
                // display: flex;
                // flex-direction: row;
                // justify-content: space-between;

                // a {
                //     font-family: $ff_sans;
                //     font-size: $fs_s;
                //     text-decoration: none;
                //     text-transform: uppercase;
                //     color: blue;
                //     transition: ease-in .02s;

                //     &:hover {
                //         color: $clr_acc_yel;
                //     }
                // }
            }
        }
    }
}

@media (min-width: 992px) {
    #nav {
        width: 100%;

        .nav-inner-cntr {
            width: 90%;
            max-width: 1200px;
            padding: 0px;
                
            &__logo {
                margin: auto 0;

                a {
                    font-family: $ff_sans;
                    font-size: $fs_s;
                    text-decoration: none;
                    text-transform: uppercase;
                    color: $txt_light;
                    transition: ease-in .02s;

                    &:hover {
                        color: $clr_acc_yel;
                    }
                }
            }

            &__links {
                display: contents;
                width: 15rem;
                margin: auto 0;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                a {
                    font-family: $ff_sans;
                    font-size: $fs_s;

                    text-decoration: none;
                    text-transform: uppercase;
                    color: $txt_light;
                    transition: ease-in .02s;

                    &:hover {
                        color: $clr_acc_yel;
                    }
                }
            }
            .nav-mob-links {
                display: none;
            }
        }
    }
}

// Scroll - show/hide nav
#nav {
    &.active {
        top: 0px;
        transition: top ease-out .4s;
    }

    &.active.false {
        top: -3em;
        transition: top ease-out .5s;
    }
}
