
/* ---------- ANIMATIONS ---------- */

// Section animations
.sec {
    opacity: $opacity_init;
    transform: $tl_Y_init;
    transition: $ease_in_50;
    .elem {
        opacity: $opacity_init;
        transform: $tl_Y_init;
        transition: $ease_in_50;
    }
}

.sec.show {
    opacity: $opacity_show;
    transform: $tl_Y_show;

    .elem {
        opacity: $opacity_show;
        transform: $tl_Y_show;
    }
}

// Card animations
.card {
    opacity: $opacity_init;
    overflow: hidden;
    transform: $tl_X_init;
    transition: $ease_in_25;

    .elem {
        opacity: $opacity_init;
        overflow: hidden;
        transform: $tl_X_init;
        transition: $ease_in_25;
    }
}

.card.show {
    opacity: $opacity_show;
    transform: $tl_X_show;

    .elem {
        opacity: $opacity_show;
        transform: $tl_X_show;
    }
}
