// Imports
@import "variables";

/* ---------- BASE ---------- */
* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
    width: 100%;
}

body {
    font-family: $ff_sans, 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    font-size: 16px;
    color: $clr_white;
    background-color: $clr_black;
}

#root {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: $fs_xxl;
    text-transform: uppercase;
    margin: .625rem 0;
}

h2 {
    font-size: $fs_xxl;
    text-transform: uppercase;
    margin: .625rem 0;
}

h3 {
    font-size: $fs_l;
    margin-bottom: .625rem;
}

h4 {
    font-size: $fs_ml;
    text-transform: uppercase;
    margin-bottom: .625rem;
}

h5 {
    font-size: $fs_m;
    color: $txt_light;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: .2rem;
    margin-top: 1rem;
}

p, span {
    font-size: $fs_s;
    margin-bottom: .625rem;
}


/* ---------- SCROLLBAR ---------- */
::-webkit-scrollbar { // Width
    width: 10px;
    border: 1px solid transparent;
}

::-webkit-scrollbar-track { // Track
    background-color: transparent;
}

::-webkit-scrollbar-thumb { // Handle
    background-color: $clr_m_grey;
    border-radius: 5px;
    z-index: 100;
    position: absolute;
}


/* ---------- SCROLL TO TOP BTN ---------- */
.scrolltop-btn {
    height: 25px;
    width: 25px;
    bottom: 15px;
    right: 10px;
    margin: 0 0;
    padding: 0 0;
    z-index: 99;
    display: none;
    position: fixed;
    cursor: pointer;
    background-color: rgba(0, 0, 0, .5);
    border: solid $clr_l_grey 1px;
    border-radius: 15px;

    svg {
        height: 12px;
        width: auto;
        margin: auto auto;
        padding: 1px;
        color: $clr_l_grey;
    }
}

// /* Animations */
// .card {
//     opacity: 0;
//     transform: translateY(0px);
//     transition: ease-in-out .5s;
// }

// .card.show {
//     opacity: 1;
//     transform: translateY(0);

//     .elem {
//         transition: ease-in;
//         animation: fade .25s;
//     }
// }

// @keyframes fade {
// 	0% {
//         opacity: 0; 
//         transform: translateY(0); 
//     }
// 	100% { 
//         opacity: 1;
//         transform: translateY(0%);
//     }
// }


/* ---------- PAGE ---------- */
.page {
    height: auto;
    width: 98%;
    margin: 0 auto;
    padding: 4em 0 0 0;

    .section {
        margin: 2rem 0 8rem 0;
        padding: 5em 0 .5em 0;
    }

    .page-header {
        padding: 1em 0;

        a {
            text-decoration: none;
            text-transform: uppercase;
            color: $clr_white;
            display: flex;
            align-items: center;
            transition: 0.25s ease;

            svg {
                margin: 0 .25em 0 0;
                color: $clr_white;
                transition: 0.2s ease;
            }

            &:hover {
                color: $clr_acc_yel;

                svg {
                    margin: 0 0 0 .25em;
                    color: $clr_acc_yel;
                }
            }
        }
    }
}

@media (min-width: 600px) {
    .page {
        width: 90%;
    }
}

@media (min-width: 992px) {
    .page {
        width: 90%;
        max-width: 1000px;
    }
}
