// Imports
@import "variables";
@import "typography";

/* ---------- BASE ---------- */
* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
    width: 100%;
}

body {
    font-family: $ff_sans, 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    font-size: 16px;
    color: $clr_white;
    background-color: $clr_black;
}

#root {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}


/* ---------- SCROLLBAR ---------- */
::-webkit-scrollbar { // Width
    width: 10px;
    border: 1px solid transparent;
}

::-webkit-scrollbar-track { // Track
    background-color: transparent;
}

::-webkit-scrollbar-thumb { // Handle
    background-color: $clr_m_grey;
    border-radius: 5px;
    z-index: 100;
    position: absolute;
}

/* ---------- PAGE ---------- */
.page {
    height: auto;
    width: 98%;
    margin: 0 auto;
    padding: 4em 0 0 0;

    .section {
        margin: 2rem 0 8rem 0;
        padding: 5em 0 .5em 0;
    }

    .page-header {
        padding: 1em 0;

        a {
            text-decoration: none;
            text-transform: uppercase;
            color: $clr_white;
            display: flex;
            align-items: center;
            transition: 0.25s ease;

            svg {
                margin: 0 .25em 0 0;
                color: $clr_white;
                transition: 0.2s ease;
            }

            &:hover {
                color: $clr_acc_yel;

                svg {
                    margin: 0 0 0 .25em;
                    color: $clr_acc_yel;
                }
            }
        }
    }
}

@media (min-width: 600px) {
    .page {
        width: 90%;
    }
}

@media (min-width: 992px) {
    .page {
        width: 90%;
        max-width: 1000px;
    }
}
