// Imports
@import "variables";
@import "base";


/* ---------- ABOUT SECTION ---------- */
.about-cntr {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .about-content {
        // height: auto;
        // // width: 80%;
        // display: flex;
        // flex-direction: column;
        // justify-content: space-between;

        .about-txt {
            height: auto;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .txt-cnt {
                height: auto;
                width: 60%;
                display: flex;
                flex-direction: column;
            }

            .mob-img-cntr {
                height: auto;
                width: 40%;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;        
        
                .mob-img-box {
                    height: auto;
                    width: auto;
                    display: flex;
                    justify-content: flex-end;
        
                    .mob-img {
                        height: 100%;
                        width: 100%;
                    }
                } 
            }       
        }   
    }
    
    .skill-box {
        span {
            font-weight: 600;
        }
    
        .skill-list {
            width: auto;
            margin: 0.200rem 0 0 1rem;
            display: grid;
            grid-template-columns: repeat(2, minmax(50%, 100%));
            
            li {
                font-family: $ff_mono;

                &::marker {
                    color: $clr_acc_yel;
                }

                span {
                    font-weight: 400;
                }
            }
        }
    }    
       
    .img-cntr {
        display: none;

        .img-box {
            display: none;

            .pf-img {
                display: none;
            }
        }
    }
}

@media (min-width:600px) {
    .about-cntr {
        height: auto;
        max-height: 300px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
        .about-content {
            height: auto;
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .about-txt {
                height: auto;
                width: 100%;
                display: flex;
                justify-content: space-between;
        
                .txt-cnt {
                    height: auto;
                    width: 100%;
                }
        
                .mob-img-cntr {
                    display: none;
            
                    .mob-img-box {
                        display: none;
            
                        .mob-img {
                            display: none;
                        }
                    } 
                }                   
            } 
            
            .skill-box {
                padding: 1.5rem 0 0 0;

                span {
                    font-weight: 600;
                }
            
                .skill-list {
                    margin: 0.200rem 0 0 2rem;
                    display: grid;
                    width: 100%;
                    grid-template-columns: repeat(2, minmax(160px, 50%));
                    
                    li {
                        font-family: $ff_mono;

                        &::marker {
                            color: $clr_acc_yel;
                        }

                        span {
                            font-weight: 400;
                        }
                    }
                }
            }
        }

        .img-cntr {
            height: 100%;
            width: auto;
            display: flex;
            align-items: flex-start;
            justify-content: center;
    
    
            .img-box {
                height: auto;
                width: auto;
                display: initial;
    
                .pf-img {
                    height: 100%;
                    max-height: 300px;
                    width: 100%;
                    display: flex;
                }
            } 
        }       
    }
}


@media (min-width:992px) {
    .about-cntr {
        // border: solid red 1px;
        height: auto;
        max-height: 250px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
        .about-content {
            height: auto;
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .about-txt {
                height: auto;
                width: 100%;
                display: flex;
                justify-content: space-between;
        
                .txt-cnt {
                    height: auto;
                    width: 100%;
                }
        
                .mob-img-cntr {
                    display: none;
            
                    .mob-img-box {
                        display: none;
            
                        .mob-img {
                            display: none;
                        }
                    } 
                }                   
            } 
            
            .skill-box {
                padding: 1.5rem 0 0 0;

                span {
                    font-weight: 600;
                }
            
                .skill-list {
                    margin: 0.200rem 0 0 2rem;
                    display: grid;
                    width: 100%;
                    grid-template-columns: repeat(2, minmax(160px, 260px));
                    
                    li {
                        font-family: $ff_mono;

                        &::marker {
                            color: $clr_acc_yel;
                        }

                        span {
                            font-weight: 400;
                        }
                    }
                }
            }
        }

        .img-cntr {
            // border: solid blue 1px;
            height: 100%;
            width: auto;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            transform: translate(0%, -10%);
    
    
            .img-box {
                height: auto;
                width: auto;
                display: initial;
    
                .pf-img {
                    height: 100%;
                    max-height: 360px;
                    width: 100%;
                    display: flex;
                }
            } 
        }       
    }
}


    /* Animations */
    .card {
        opacity: 0;
        transform: translateY(50px);
        transition: .2s;
    }

    .card.show {
        opacity: 1;
        transform: translateY(0);
    }