$clr_black: #000;
$clr_d_grey: #282828;
$clr_m_grey: #6e6e6e;
$clr_l_grey: #cecece;
$clr_white: #f8f8f8;
$clr_acc_yel: #fcb900;
$clr_acc_gre: #153019;

$txt_light: #f8f8f8;
$txt_dark: #282828;

$ff_sans: 'Montserrat', sans-serif;
$ff_mono: 'JetBrains Mono', monospace;
$fs_header: 3.750rem; // header
$fs_xxl: 2.000rem; // xx-large / h1
$fs_xl: 1.375rem; // x-large / h2
$fs_l: 1.250rem;  // large / h3
$fs_ml: 1.125rem; // medium-large / h4
$fs_m: 1.000rem; // medium / h5
$fs_s: 0.875rem; // small / p 
$fs_xs: 0.750rem; // x-small
$fs_xxs: 0.625rem; // xx-small


/* ---------- GENERAL ---------- */
* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    font-family: $ff_sans, 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    font-size: 16px;
    color: $clr_white;
    background-color: $clr_black;
}

h1 {
    font-size: $fs_xxl;
    text-transform: uppercase;
    margin: .625rem 0;
}

h2 {
    font-size: $fs_xxl;
    text-transform: uppercase;
    margin: .625rem 0;
}

h3 {
    font-size: $fs_l;
    margin-bottom: .625rem;
}

h4 {
    font-size: $fs_ml;
    margin-bottom: .625rem;
}

h5 {
    font-size: $fs_m;
    margin-bottom: .625rem;
}

p, span {
    font-size: $fs_m;
    margin-bottom: .625rem;
}


/* ---------- ABOUT SECTION ---------- */
.about-cntr {
    border: solid red 0px;
    height: auto;
    width: 100%;
    padding: 1em 0 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .about-txt {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .txt-cnt {
            // background-color: rgba(83, 189, 37, 0.3);
            height: auto;
            width: 60%;

            h2 {
                // margin-top: 0;
                margin-top: 1em;
            }
        }

        .mob-img-cntr {
            border: solid greenyellow 0px;
            // background-color: rgba(0, 255, 0, .3);
            height: auto;
            width: 40%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
    
    
            .mob-img-box {
                border: solid orange 0px;
                height: auto;
                width: auto;
                display: flex;
                justify-content: end;
    
                .mob-img {
                    border: solid yellow 0px;
                    height: 100%;
                    width: 100%;
                }
            } 
        }       
    } 
    
    .skill-box {
        // background-color: rgba(125, 189, 87, 0.3);

        span {
            font-weight: 600;
        }
    
        .skill-list {
            width: auto;
            margin: 0.200rem 0 0 1rem;
            display: grid;
            grid-template-columns: repeat(2, minmax(50%, 100%));
            
            li {
                border: solid yellow 0px;
                font-family: $ff_mono;

                &::marker {
                    color: $clr_acc_yel;
                }

                span {
                    font-weight: 400;
                }
            }
        }
    }    
       
    .img-cntr {
        display: none;

        .img-box {
            display: none;

            .pf-img {
                display: none;
            }
        }
    }
}

@media (min-width:600px) {
    .about-cntr {
        border: solid blue px;
        height: auto;
        max-height: 300px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
        .about-content {
            height: auto;
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .about-txt {
                height: auto;
                width: 100%;
                display: flex;
                justify-content: space-between;
        
                .txt-cnt {
                    // background-color: rgba(119, 255, 255, 0.3);
                    height: auto;
                    width: 100%;
                }
        
                .mob-img-cntr {
                    display: none;
            
                    .mob-img-box {
                        display: none;
            
                        .mob-img {
                            display: none;
                        }
                    } 
                }                   
            } 
            
            .skill-box {
                // background-color: rgba(87, 184, 189, 0.3);
                padding: 1.5rem 0 0 0;

                span {
                    font-weight: 600;
                }
            
                .skill-list {
                    margin: 0.200rem 0 0 2rem;
                    display: grid;
                    width: 100%;
                    grid-template-columns: repeat(2, minmax(160px, 50%));
                    
                    li {
                        font-family: $ff_mono;

                        &::marker {
                            color: $clr_acc_yel;
                        }

                        span {
                            font-weight: 400;
                        }
                    }
                }
            }
        }

        .img-cntr {
            border: solid greenyellow 0px;
            // background-color: rgba(0, 132, 255, 0.3);
            height: 100%;
            width: auto;
            display: flex;
            align-items: flex-start;
            justify-content: center;
    
    
            .img-box {
                border: solid orange 0px;
                height: auto;
                width: auto;
                display: initial;
    
                .pf-img {
                    border: solid yellow 0px;
                    height: 100%;
                    max-height: 300px;
                    width: 100%;
                    display: flex;
                }
            } 
        }       
    }
}


@media (min-width:992px) {
    .about-cntr {
        border: solid green 0px;
        height: auto;
        max-height: 300px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
        .about-content {
            height: auto;
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: start;

            .about-txt {
                height: auto;
                width: 100%;
                display: flex;
                justify-content: space-between;
        
                .txt-cnt {
                    // background-color: rgba(255, 119, 119, 0.3);
                    height: auto;
                    width: 100%;
                }
        
                .mob-img-cntr {
                    display: none;
            
                    .mob-img-box {
                        display: none;
            
                        .mob-img {
                            display: none;
                        }
                    } 
                }                   
            } 
            
            .skill-box {
                // background-color: rgba(189, 87, 87, 0.3);
                padding: 1.5rem 0 0 0;

                span {
                    font-weight: 600;
                }
            
                .skill-list {
                    margin: 0.200rem 0 0 2rem;
                    display: grid;
                    width: 100%;
                    grid-template-columns: repeat(2, minmax(160px, 260px));
                    
                    li {
                        font-family: $ff_mono;

                        &::marker {
                            color: $clr_acc_yel;
                        }

                        span {
                            font-weight: 400;
                        }
                    }
                }
            }
        }

        .img-cntr {
            border: solid greenyellow 0px;
            // background-color: rgba(255, 0, 0, 0.3);
            height: 100%;
            width: auto;
            display: flex;
            align-items: flex-start;
            justify-content: center;
    
    
            .img-box {
                border: solid orange 0px;
                height: auto;
                width: auto;
                display: initial;
    
                .pf-img {
                    border: solid yellow 0px;
                    height: 100%;
                    max-height: 300px;
                    width: 100%;
                    display: flex;
                }
            } 
        }       
    }
}





    // ----------------------------------

    // .pf-img-cntr {
    //     border: solid greenyellow 1px;
    //     background-color: rgba(0, 255, 0, .3);
    //     height: 100%;
    //     width: 50%;
    //     position: relative;
    //     display: flex;
    //     align-items: flex-start;
    //     justify-content: center;

    //     .pf-img-outer-cntr {
    //         border: solid violet 1px;
    //         height: 100%;
    //         width: 100%;
    //         display: flex;
    //         justify-content: center;
    //         align-items: flex-end;

            // .img-outer-box {
            //     border: solid blue 1px;
            //     height: 60%;
            //     width: 90%;
            //     position: absolute;
            //     background-color: $clr_acc_gre;
            //     border-radius: 100px 100px 0 0;
            // }

    //         .img-box {
    //             border: solid red 1px;
    //             height: auto;
    //             width: 100%;
    //             // position: absolute;
    //             display: flex;
    //             justify-content: end;

    //             img {
    //                 border: solid yellow 0px;
    //                 height: 100%;
    //                 width: 100%;
    //             }
    //         } 
    //     }
    // }

    // @media (min-width: 600px) {
    //     .txt-cnt {
    //         background-color: rgba(37, 154, 189, 0.3);
    //         grid-area: 1 / 1 / 2 / 3;
    //     }
    
    //     .skill-box {
    //         background-color: rgba(87, 172, 189, 0.3);
    //         grid-area: 2 / 1 / 3 / 3;
    //     }

    //     .pf-img-cntr {
    //         background-color: rgba(132, 208, 255, 0.2);
    //         border: solid green 1px;
    //         height: 100%;
    //         width: auto;
    //         grid-area: 1 / 3 / 3 / 4;
    //         position: relative;
    //         display: flex;
    //         align-items: flex-end;
    //         justify-content: center;
    
    //         .pf-img-outer-cntr {
    //             border: solid violet 1px;
    //             height: 100%;
    //             width: 100%;
    //             display: flex;
    //             justify-content: center;
    //             align-items: flex-end;
    
    //             .img-outer-box {
    //                 border: solid seagreen 1px;
    //                 height: 80%;
    //                 width: 80%;
    //                 position: absolute;
    //                 background-color: $clr_acc_gre;
    //                 border-radius: 100px 100px 0 0;
    //             }
    //             .img-box {
    //                 border: solid blueviolet 1px;
    //                 height: auto;
    //                 width: auto;
    //                 position: absolute;
    //                 display: flex;
    //                 justify-content: end;
    
    //                 img {
    //                     border: solid orange 0px;
    //                     height: 100%;
    //                     width: 100%;
    //                 }
    //             } 
    //         }
    //     }
    // }

    // @media (min-width: 992px) {
    //     .txt-cnt {
    //         background-color: rgba(189, 37, 37, 0.3);
    //         grid-area: 1 / 1 / 2 / 3;
    //     }
    
    //     .skill-box {
    //         background-color: rgba(189, 87, 87, 0.3);
    //         grid-area: 2 / 1 / 3 / 3;
    //     }

    //     .pf-img-cntr {
    //         background-color: rgba(193, 0, 0, .4);
    //         border: solid blue 1px;
    //         height: 100%;
    //         width: auto;
    //         grid-area: 1 / 3 / 3 / 4;
    //         position: relative;
    //         display: flex;
    //         align-items: flex-end;
    //         justify-content: center;
    
    //         .pf-img-outer-cntr {
    //             border: solid violet 1px;
    //             height: 100%;
    //             width: 100%;
    //             display: flex;
    //             justify-content: center;
    //             align-items: flex-end;
    
    //             .img-outer-box {
    //                 border: solid lightblue 1px;
    //                 height: 90%;
    //                 width: 50%;
    //                 position: absolute;
    //                 background-color: $clr_acc_gre;
    //                 border-radius: 100px 100px 0 0;
    //             }
    //             .img-box {
    //                 border: solid greenyellow 1px;
    //                 height: 100%;
    //                 width: auto;
    //                 position: absolute;
    //                 display: flex;
    //                 justify-content: end;
    
    //                 img {
    //                     border: solid yellow 0px;
    //                     height: auto;
    //                     width: auto;
    //                 }
    //             } 
    //         }
    //     }
    // }






// ---------------------------------------------------------------------------------------

// .about-cntr {
//     height: auto;
//     width: 100%;
//     display: grid;
//     grid-template-columns: repeat(3, 1fr);
//     grid-template-rows: repeat(2, 1fr);
//     grid-column-gap: 10px;
//     grid-row-gap: 10px;

//     .txt-cnt {
//         background-color: rgba(83, 189, 37, 0.3);
//         grid-area: 1 / 1 / 2 / 3;
//     }

//     .skill-box {
//         background-color: rgba(125, 189, 87, 0.3);
//         grid-area: 2 / 1 / 3 / 4;
//         // margin: 0.625rem 0 0 0;

//         span {
//             font-weight: 600;
//         }
    
//         .skill-list {
//             margin: 0.200rem 0 0 2rem;
//             display: grid;
//             grid-template-columns: repeat(2, minmax(160px, 180px));
            
//             li {
//                 font-family: $ff_mono;

//                 &::marker {
//                     color: $clr_acc_yel;
//                 }

//                 span {
//                     font-weight: 400;
//                 }
//             }
//         }
//     }

//     .pf-img-cntr {
//         border: solid greenyellow 0px;
//         background-color: rgba(0, 255, 0, .3);
//         height: 100%;
//         width: auto;
//         grid-area: 1 / 3 / 2 / 4;
//         position: relative;
//         display: flex;
//         align-items: flex-start;
//         justify-content: center;

//         .pf-img-outer-cntr {
//             border: solid violet 0px;
//             height: 100%;
//             width: 100%;
//             display: flex;
//             justify-content: center;
//             align-items: flex-end;

//             .img-outer-box {
//                 border: solid blue 1px;
//                 height: 60%;
//                 width: 90%;
//                 position: absolute;
//                 background-color: $clr_acc_gre;
//                 border-radius: 100px 100px 0 0;
//             }

//             .img-box {
//                 border: solid red 1px;
//                 height: auto;
//                 width: 100%;
//                 position: absolute;
//                 display: flex;
//                 justify-content: end;

//                 img {
//                     border: solid yellow 0px;
//                     height: 100%;
//                     width: 100%;
//                 }
//             } 
//         }
//     }

//     @media (min-width: 600px) {
//         .txt-cnt {
//             background-color: rgba(37, 154, 189, 0.3);
//             grid-area: 1 / 1 / 2 / 3;
//         }
    
//         .skill-box {
//             background-color: rgba(87, 172, 189, 0.3);
//             grid-area: 2 / 1 / 3 / 3;
//         }

//         .pf-img-cntr {
//             background-color: rgba(132, 208, 255, 0.2);
//             border: solid green 1px;
//             height: 100%;
//             width: auto;
//             grid-area: 1 / 3 / 3 / 4;
//             position: relative;
//             display: flex;
//             align-items: flex-end;
//             justify-content: center;
    
//             .pf-img-outer-cntr {
//                 border: solid violet 1px;
//                 height: 100%;
//                 width: 100%;
//                 display: flex;
//                 justify-content: center;
//                 align-items: flex-end;
    
//                 .img-outer-box {
//                     border: solid seagreen 1px;
//                     height: 80%;
//                     width: 80%;
//                     position: absolute;
//                     background-color: $clr_acc_gre;
//                     border-radius: 100px 100px 0 0;
//                 }
//                 .img-box {
//                     border: solid blueviolet 1px;
//                     height: auto;
//                     width: auto;
//                     position: absolute;
//                     display: flex;
//                     justify-content: end;
    
//                     img {
//                         border: solid orange 0px;
//                         height: 100%;
//                         width: 100%;
//                     }
//                 } 
//             }
//         }
//     }

//     @media (min-width: 992px) {
//         .txt-cnt {
//             background-color: rgba(189, 37, 37, 0.3);
//             grid-area: 1 / 1 / 2 / 3;
//         }
    
//         .skill-box {
//             background-color: rgba(189, 87, 87, 0.3);
//             grid-area: 2 / 1 / 3 / 3;
//         }

//         .pf-img-cntr {
//             background-color: rgba(193, 0, 0, .4);
//             border: solid blue 1px;
//             height: 100%;
//             width: auto;
//             grid-area: 1 / 3 / 3 / 4;
//             position: relative;
//             display: flex;
//             align-items: flex-end;
//             justify-content: center;
    
//             .pf-img-outer-cntr {
//                 border: solid violet 1px;
//                 height: 100%;
//                 width: 100%;
//                 display: flex;
//                 justify-content: center;
//                 align-items: flex-end;
    
//                 .img-outer-box {
//                     border: solid lightblue 1px;
//                     height: 90%;
//                     width: 50%;
//                     position: absolute;
//                     background-color: $clr_acc_gre;
//                     border-radius: 100px 100px 0 0;
//                 }
//                 .img-box {
//                     border: solid greenyellow 1px;
//                     height: 100%;
//                     width: auto;
//                     position: absolute;
//                     display: flex;
//                     justify-content: end;
    
//                     img {
//                         border: solid yellow 0px;
//                         height: auto;
//                         width: auto;
//                     }
//                 } 
//             }
//         }
//     }
// }


