$clr_black: #000;
$clr_d_grey: #282828;
$clr_m_grey: #6e6e6e;
$clr_l_grey: #cecece;
$clr_white: #f8f8f8;
$clr_acc_yel: #fcb900;
$clr_acc_gre: #153019;

$txt_light: #f8f8f8;
$txt_dark: #282828;

$ff_sans: 'Montserrat', sans-serif;
$ff_mono: 'JetBrains Mono', monospace;
$fs_header: 3.750rem; // header
$fs_xxl: 2.000rem; // xx-large / h1
$fs_xl: 1.375rem; // x-large / h2
$fs_l: 1.250rem;  // large / h3
$fs_ml: 1.125rem; // medium-large / h4
$fs_m: 1.000rem; // medium / h5
$fs_s: 0.875rem; // small / p 
$fs_xs: 0.750rem; // x-small
$fs_xxs: 0.625rem; // xx-small


/* ---------- GENERAL ---------- */
* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    font-family: $ff_sans, 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    font-size: 16px;
    color: $clr_white;
    background-color: $clr_black;
}

h1 {
    font-size: $fs_xxl;
    text-transform: uppercase;
    margin: .625rem 0;
}

h2 {
    font-size: $fs_xxl;
    text-transform: uppercase;
    margin: .625rem 0;
}

h3 {
    font-size: $fs_l;
    margin-bottom: .625rem;
}

h4 {
    font-size: $fs_ml;
    margin-bottom: .625rem;
}

h5 {
    font-size: $fs_m;
    margin-bottom: .625rem;
}

p, span {
    font-size: $fs_m;
    margin-bottom: .625rem;
}


/* ---------- ABOUT SECTION ---------- */
.about-cntr {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    .txt-cnt {
        background-color: rgba(83, 189, 37, 0.3);
        grid-area: 1 / 1 / 2 / 3;
    }

    .skill-box {
        background-color: rgba(125, 189, 87, 0.3);
        grid-area: 2 / 1 / 3 / 3;
        margin: 0.625rem 0 0 0;

        span {
            font-weight: 600;
        }
    
        .skill-list {
            margin: 0.200rem 0 0 2rem;
            display: grid;
            grid-template-columns: repeat(2, minmax(160px, 180px));
            
            li {
                font-family: $ff_mono;

                &::marker {
                    color: $clr_acc_yel;
                }

                span {
                    font-weight: 400;
                }
            }
        }
    }


    .pf-img-cntr {
        border: solid greenyellow 1px;
        background-color: rgba(0, 255, 0, .3);
        height: 60%;
        width: auto;
        grid-area: 1 / 3 / 3 / 4;
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: center;

        .pf-img-outer-cntr {
            border: solid violet 2px;
            height: 70%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-end;

            .img-outer-box {
                border: solid blue 1px;
                height: 40%;
                width: 90%;
                position: absolute;
                background-color: $clr_acc_gre;
                border-radius: 100px 100px 0 0;
            }
            .img-box {
                border: solid red 1px;
                height: auto;
                width: 100%;
                position: absolute;
                display: flex;
                justify-content: end;

                img {
                    border: solid yellow 0px;
                    height: 100%;
                    width: 100%;
                }
            } 
        }
    }

    @media (min-width: 600px) {
        .txt-cnt {
            background-color: rgba(37, 154, 189, 0.3);
            grid-area: 1 / 1 / 2 / 3;
        }
    
        .skill-box {
            background-color: rgba(87, 172, 189, 0.3);
            grid-area: 2 / 1 / 3 / 3;
        }

        .pf-img-cntr {
            background-color: rgba(132, 208, 255, 0.2);
            border: solid green 1px;
            height: 100%;
            width: auto;
            grid-area: 1 / 3 / 3 / 4;
            position: relative;
            display: flex;
            align-items: flex-end;
            justify-content: center;
    
            .pf-img-outer-cntr {
                border: solid violet 1px;
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: flex-end;
    
                .img-outer-box {
                    border: solid seagreen 1px;
                    height: 300px;
                    width: 210px;
                    position: absolute;
                    background-color: $clr_acc_gre;
                    border-radius: 100px 100px 0 0;
                }
                .img-box {
                    border: solid blueviolet 1px;
                    height: 100%;
                    width: auto;
                    position: absolute;
                    display: flex;
                    justify-content: end;
    
                    img {
                        border: solid orange 0px;
                        height: auto;
                        width: auto;
                    }
                } 
            }
        }
    }

    @media (min-width: 992px) {
        .txt-cnt {
            background-color: rgba(189, 37, 37, 0.3);
            grid-area: 1 / 1 / 2 / 3;
        }
    
        .skill-box {
            background-color: rgba(189, 87, 87, 0.3);
            grid-area: 2 / 1 / 3 / 3;
        }

        .pf-img-cntr {
            background-color: rgba(193, 0, 0, .4);
            border: solid blue 1px;
            height: 100%;
            width: auto;
            grid-area: 1 / 3 / 3 / 4;
            position: relative;
            display: flex;
            align-items: flex-end;
            justify-content: center;
    
            .pf-img-outer-cntr {
                border: solid violet 1px;
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: flex-end;
    
                .img-outer-box {
                    border: solid lightblue 1px;
                    height: 300px;
                    width: 210px;
                    position: absolute;
                    background-color: $clr_acc_gre;
                    border-radius: 100px 100px 0 0;
                }
                .img-box {
                    border: solid greenyellow 1px;
                    height: 100%;
                    width: auto;
                    position: absolute;
                    display: flex;
                    justify-content: end;
    
                    img {
                        border: solid yellow 0px;
                        height: auto;
                        width: auto;
                    }
                } 
            }
        }
    }
}



// ---------------------------------------------------------------------------------

// .about-cntr {
//     border: solid red 0px;
//     height: auto;
//     width: 100%;
//     margin-bottom: 6.250rem;
//     padding: 1.250rem 0;
//     display: grid;
//     grid-template-columns: repeat (3, 100px);
//     // justify-content: space-between;

//     .about-txt {
//         width: 60%;
//         display: flex;
//         flex-direction: column;

//         // .txt-cnt {
//         //     width: 50%;
//         // }

//         .skill-box {
//             margin: 0.625rem 0 0 0;

//             span {
//                 font-weight: 600;
//             }
        
//             .skill-list {
//                 margin: 0.200rem 0 0 2rem;
//                 display: grid;
//                 grid-template-columns: repeat(2, minmax(160px, 180px));
                
//                 li {
//                     font-family: $ff_mono;

//                     &::marker {
//                         color: $clr_acc_yel;
//                     }

//                     span {
//                         font-weight: 400;
//                     }
//                 }
//             }
//         }
//     }

//     .pf-img-cntr {
//         border: solid blue 0px;
//         height: auto;
//         width: 40%;
//         position: relative;
//         display: flex;
//         justify-content: center;
//         // object-fit: contain;
//         // overflow: hidden;

//         .img-outer-box {
//             border: solid red 0px;
//             height: 220px;
//             width: 130px;
//             position: absolute;
//             background-color: $clr_acc_gre;
//             border-radius: 100px 100px 0 0;
//             object-fit: contain;
//             overflow: hidden;

//             .img-box {
//                 border: solid yellow 0px;
//                 height: auto;
//                 width: auto;
//                 display: flex;
//                 position: absolute;
//                 bottom: 0;

//                 img {
//                     height: auto;
//                     width: 160px;
//                 }
//             }
//         }
//     }


//     @media (min-width: 600px) {
//         .about-txt {
//             height: 100%;
//             width: 100%;
//             display: flex;
//             flex-direction: column;
//             justify-content: space-between;

//             .txt-cnt {
//                 width: 90%;
//             }
    
//             .skill-box {
//                 height: 100%;
//                 bottom: 0;
//                 border: solid red 0px;
//                 margin: 2.625rem 0 0 0;
    
//                 span {
//                     font-weight: 600;
//                 }
            
//                 .skill-list {
//                     margin: 0.200rem 0 0 2rem;
//                     bottom: 0;
//                     display: grid;
//                     grid-template-columns: repeat(2, minmax(160px, 260px));
                    
//                     li {
//                         font-family: $ff_mono;
    
//                         &::marker {
//                             color: $clr_acc_yel;
//                         }
    
//                         span {
//                             font-weight: 400;
//                         }
//                     }
//                 }
//             }
//         }
        
//         .pf-img-cntr {
//             height: auto;
//             width: 40%;
//             position: relative;
//             display: flex;
//             justify-content: right;
    
//             .img-outer-box {
//                 height: 250px;
//                 width: 200px;
//                 top: 2.5rem;
//                 object-fit: none;
//                 overflow: visible;
    
//                 .img-box {
//                     height: auto;
//                     width: auto;
    
//                     img {
//                         height: auto;
//                         width: 220px;
//                     }
//                 }
//             }
//         }
//     }    
    
//     @media (min-width: 992px) {
//         .about-txt {
//             height: 100%;
//             width: 100%;
//             display: flex;
//             flex-direction: column;
//             justify-content: space-between;
    
//             .skill-box {
//                 height: 100%;
//                 bottom: 0;
//                 border: solid red 0px;
//                 margin: 2.625rem 0 0 0;
    
//                 span {
//                     font-weight: 600;
//                 }
            
//                 .skill-list {
//                     margin: 0.200rem 0 0 2rem;
//                     bottom: 0;
//                     display: grid;
//                     grid-template-columns: repeat(2, minmax(160px, 260px));
                    
//                     li {
//                         font-family: $ff_mono;
    
//                         &::marker {
//                             color: $clr_acc_yel;
//                         }
    
//                         span {
//                             font-weight: 400;
//                         }
//                     }
//                 }
//             }
//         }
        
//         .pf-img-cntr {
//             height: 360px;
//             width: 35%;
//             display: flex;
//             justify-content: right;
//             left: -3.250rem;
    
//             .img-outer-box {
//                 height: 360px;
//                 width: 240px;
//                 margin-top: -0.250rem;
//                 object-fit:none;
//                 overflow:visible;
    
//                 .img-box {
//                     height: auto;
//                     width: auto;
    
//                     img {
//                         height: auto;
//                         width: 280px;
//                     }
//                 }
//             }
//         }
//     }
// }
    

