// Imports
@import "variables";
@import "base";



/* ---------- ARTICLE PAGE ---------- */
.article {
    border: solid sandybrown 0px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .article-header {
        border: solid red 0px;
        height: auto;
        width: 100%;

        .header-img {
            border: solid blue 0px;
            height: 200px;
            width: 100%;

            img {
                height: 100%;
                width: 100%;                
                object-fit: cover;
                object-position: center;
                
            }
        }

        .article-title {
            height: auto;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .article-links {
                height: 100%;
                width: auto;

                a {
                    margin-left: .5em;
                    text-decoration: none;
                    color: $clr_l_grey;
    
                    svg {
                        height: 20px;
                        width: auto;
                    }
                }  
            }
        }
    }

    .article-content {
        height: auto;
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        span {
            width: auto;
        }

        .img-cntr {
            border: solid blue 1px;
            height: 160px;
            width: 260px;
            margin: 0 0.625rem 0 0;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

            &:nth-child(even) {
                float: right;
            }
        }    
    }
}