// Imports
@import "variables";
@import "base";

/* ---------- SCROLL TO TOP BTN ---------- */
.scrolltop-btn {
    height: 2em;
    width: 2em;
    bottom: 4em;
    right: 1em;
    margin: 0 0;
    padding: 0 0;
    z-index: 99;
    display: none;
    position: fixed;
    cursor: pointer;
    background-color: rgba(0, 0, 0, .8);
    border: solid $clr_white 1px;
    border-radius: 15px;

    svg {
        height: 20px;
        width: auto;
        margin: auto auto;
        padding: 2px;
        color: $clr_white;
    }
}
