// Imports
@import "variables";
@import "base";



/* ---------- WORK SECTION ---------- */
.work-cntr {
    .work-cntr-title {
        padding: 0 0 .5em 0;
    }

    .project {
        border: solid rgba(0, 0, 0, 0) 1px;
        height: auto;
        width: 100%;
        margin: 5em .2em 5em 0em;
        display: flex;
        flex-direction: column;

        .project-gallery-cntr {
            border: solid red 0px;
            height: 100%;
            width: 100%;
            margin: 0 auto;

            .project-gallery {
                border: solid blue 0px;
                height: 100%;
                width: 100%;
                object-fit: cover;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;

                .img-cntr {
                    border: solid yellow 0px;
                    height: 140px;
                    width: 40%;
                    padding: 1px;
                    object-fit: cover;
                    display: flex;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover; 
                    } 
                    
                    &:nth-child(2), &:nth-child(3) {
                        width: 58%;
                        object-fit: cover;
                    } 
                }
            }
        }  

        .project-txt {
            width: 100%;
            padding: .5rem 0;
            display: flex;
            flex-direction: column;
            
            .project-title {
                padding: 0 .5rem;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                h3 {
                    margin-top: 0;
                    font-size: $fs_m;
                    text-transform: uppercase;
                }

                .project-links {
                    height: 100%;
                    width: auto;

                    a {
                        margin-left: .5em;
                        text-decoration: none;
                        color: $clr_l_grey;
        
                        svg {
                            height: 20px;
                            width: auto;
                        }
                    }
                }             
            }

            .project-build {
                padding: 0 .5rem;
                display: flex;
                flex-direction: row;

                span {
                    margin-right: 2rem;
                    margin-bottom: 0;
                    color: $clr_acc_yel;
                    font-family: $ff_mono;
                    font-weight: 600;
                    font-size: $fs_s;
                    text-transform: uppercase;
                }
            }

            .project-desc {
                padding: 0 .5rem;
            } 
        }
    }
    


    @media (min-width: 600px) {
        .project {
            height: auto;
            margin: 5em .2em 6em 0em; 
            flex-direction: row;

            .project-gallery-cntr {
                height: 100%;
                width: 50%;
    
                .project-gallery {
                    .img-cntr {
                        border: solid yellow 0px;
                        height: 160px;
                        width: 40%;
    
                        &:nth-child(2), &:nth-child(3) {
                            object-position: left;
                        } 
                    }
                }
            } 
    
            .project-txt {
                width: 60%;
                margin: auto 0;

                .project-header {
                    .project-title {
                        padding: 0 0 0 .5rem;
                    }
                }

                .project-build {
                    padding: 0 0 0 .5rem;
                }
    
                .project-desc {
                    padding: 0 0 0 .5rem;
                }
            }             
        }
    }



    @media (min-width: 992px) {
        .project {
            margin: 2rem 0rem 10rem 0rem;
            justify-content: space-between;
            &:last-child {
                margin: 2rem 0rem 4rem 0rem;
            }

            .project-gallery-cntr {
                border: solid blue 0px;
                height: 100%;
                width: 50%;
    
                .project-gallery {
                    .img-cntr {
                        border: solid yellow 0px;
                        height: 160px;
                        width: 40%;
    
                        &:nth-child(2), &:nth-child(3) {
                            object-position: left;
                        } 
                    }
                }
            }

            .project-txt {
                .project-header {
                    margin-bottom: .625em;
                
                    .project-title {
                        padding: 0 0 0 .5rem;

                        h3 {
                            margin: 0 0 0.625em 0;
                            font-size: $fs_l;
                        }  
                    }
                }
                
                .project-build {
                    padding: 0 0 0 .5rem;
                }
    
                .project-desc {
                    padding: 0 0 0 .5rem;
                }
            }
        }
    }

}

/* Animations */
.card {
    opacity: 0;
    transform: translateY(0px);
    transition: ease-in-out .5s;
}

.card.show {
    opacity: 1;
    transform: translateY(0);

    .elem {
        transition: ease-in;
        animation: fade .25s;
    }
}

@keyframes fade {
	0% {
        opacity: 0; 
        transform: translateY(0); 
    }
	100% { 
        opacity: 1;
        transform: translateY(0%);
    }
}