// Imports
@import "variables";
@import "base";


/* ---------- WORK SECTION ---------- */
.work-cntr {
    display: flex;
    flex-direction: column;
    column-gap: 500px;

    .work-cntr-title {
        margin-left: 10px;
        padding: 0 0 .5em 0;
    }

}

@media (min-width: 600px) {
    .work-cntr {
        margin-left: 0px;
    }
}



@media (min-width: 992px) {
    .work-cntr {
        margin-left: 0px;

        
    }
}



// /* Animations */
.card {
    opacity: $opacity_init;
    overflow: hidden;
    transform: $tl_X_init;
    transition: $ease_in_25;

    .elem {
        opacity: $opacity_init;
        overflow: hidden;
        transform: $tl_X_init;
        transition: $ease_in_25;
    }
}

.card.show {
    opacity: $opacity_show;
    transform: $tl_X_show;

    .elem {
        opacity: $opacity_show;
        transform: $tl_X_show;
    }
}

.sec {
    opacity: $opacity_init;
    transform: $tl_Y_init;
    transition: $ease_in_50;
    .elem {
        opacity: $opacity_init;
        transform: $tl_Y_init;
        transition: $ease_in_50;
    }
}

.sec.show {
    opacity: $opacity_show;
    transform: $tl_Y_show;

    .elem {
        opacity: $opacity_show;
        transform: $tl_Y_show;
    }
}
